<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestQuest</title>
</head>
<body>
    <nav class="navbar navbar-expand-md border-bottom sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/listings"><i class="fa-solid fa-dice-d20" style="font-size: 1.6rem;"></i> NestQuest</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/listings">All Listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/listings/new">Add NewListings</a>
              </li>
             
          </div>
        </div>
      </nav>
</body>
</html>