<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">

                <h3>Create New Listings</h3>
                <form action="/listings" method="post" class="needs-validation" novalidate>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" placeholder="give a cringy title" name="listing[title]" id="title"
                            class="form-control" required>

                            <div class="invalid-feedback">
                                Please provide a title.
                              </div>
                    </div>



                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea placeholder="describe your place" name="listing[description]" class="form-control" id="description" required></textarea>

                        <div class="invalid-feedback">
                            Please provide a description within 500 words.
                          </div>
                    </div>



                    <div class="mb-3">
                        <label for="img" class="form-label"></label><label for="image">Upload Image:</label>
                        <input type="file" id="image" name="listing[image]" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" placeholder="1200" id="price" name="listing[price]" class="form-control" required>

                        <div class="invalid-feedback">
                            Please provide the price in numbers.
                          </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" placeholder="Austin,Texas" name="listing[location]" id="location" class="form-control" required>

                        <div class="invalid-feedback">
                            Please provide the correct address.
                          </div>
                    </div>


                    <div class="mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" placeholder="United States" name="listing[country]" id="country" class="form-control" required>

                        <div class="invalid-feedback">
                            Please provide the country name.
                          </div>
                    </div>


                    <button type="submit" class="btn btn-primary mb-3 add-btn">Add</button>


                </form>
            </div>

        </div>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
    </body>