/* Colors :⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣⁣
D8B188 • 2F5663 • C18653 • 383B38 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

/* ======Navbar====== */
.navbar {
  height: 4.5rem;
}
.fa-dice-d20 {
  color: #f64c72;
}
.nav-item .nav-link {
  color: #fc4445;
}

/* ======footer====== */
footer {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 0.8px;
  border-top: 1px solid #869086;
  margin: auto;
  text-align: center;
}

.f-links a,
.f-social a,
.f-lang a {
  text-decoration: none;
  color: #383b38;
}

.f-links a:hover,
.f-lang a:hover {
  text-decoration: underline;
}

.fa-brands {
  width: 2.5rem;
  font-size: 21px;
}

.fa-globe {
  padding-right: 0.6rem;
}

/* ========cards at listing page========== */
.card {
  border: none !important;
  margin-bottom: 2.3rem;
  
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-text{
  font-weight: 400 !important;
}